html, body {
    height: 100%;
}
body {
    background-color: #dcdbdc;
    overflow-x: hidden;
    height: 1600px;
    background-image: url(../images/demo_parallax_bg.png);
}
img {
    image-rendering: optimizeQuality;
    -webkit-image-rendering: optimizeQuality;
}
.bgViolet {
    background-color: #704663;
}
h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 22px;
    font-size: 2.2rem;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 30px;
    color: #dcdbdc;
    margin: 0px auto;
}

#main {
    overflow: hidden;
}

.mainPicture {
    min-width: 990px;
    min-height: 800px;
    margin: 0 auto;
    background-position: center 0px;
    background-repeat: no-repeat;
    position: relative;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    height: 282px; 
    background-image: url(../images/video_bg.jpg);
    background-position: 50% 45px;
    position: relative;
    overflow: hidden;
    width: 100%;

}

.welcomeTitle div {
    color: #5a5a5e;
    font-size: 12px;
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    text-align: center;
    text-transform: uppercase;
}
#main .welcomeTitle {
    padding-top: 350px;
}
#main .welcomeTitle > h1 {
    color: #704663;
    font-size: 38px;
    font-size: 3.8rem;
    letter-spacing: 3.6rem;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    margin-left: 10px;
}